@media only screen and (max-width: 1023px) {
  .container {
    max-width: 800px;
    padding: 0 50px;
  }

  .navbar .navbar-menu {
    position: fixed;
    left: -100%;
    top: 0;
    height: 100vh;
    width: 100%;
    background: #111;
    text-align: center;
    padding-top: 80px;
    flex-direction: column;
    transition: all 0.3s ease;
  }

  .navbar .navbar-menu.active {
    left: 0;
  }

  .navbar .navbar-menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
    color: var(--white);
  }

  .navbar .menu-btn {
    display: block;
    z-index: 99;
  }

  .header.shrink .navbar .menu-btn,
  .navbar .navbar-menu.active .menu-btn {
    color: var(--white);
  }

  /* Home */
  .home .home-text {
    left: 32%;
  }

  .home .home-text .home-text-1 {
    font-size: 25px;
  }

  .home .home-text .home-text-2 {
    font-size: 60px;
  }

  .home .home-text a {
    padding: 8px 24px;
    font-size: 20px;
  }

  .about .about-content img {
    width: 350px;
    height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }

  .about .about-content p {
    font-size: 16px;
    line-height: 1.6;
  }

  .about .about-content a {
    padding: 10px 30px;
    font-size: 18px;
  }

  .services .services-content .card {
    margin-top: 20px;
  }

  .project-tab-content ul.active {
    grid-template-columns: repeat(2, 1fr);
  }

  .project-tab-panes a:hover img {
    transform: scale(1) rotate(0);
  }

  .project-tab-panes a:hover h2 {
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  .home .home-text {
    left: 33%;
  }

  .home .home-text .home-text-2 {
    font-size: 50px;
  }

  .services .services-content i {
    font-size: 30px;
  }

  .services .services-content .text {
    font-size: 20px;
  }

  .project-tab-content ul.active {
    grid-template-columns: 1fr;
  }
}
